<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors</title>
    <style>
*{ 
    margin: 0 auto;
    padding: 0%;
}

.container{
    margin: 0 auto;
    width: 1000px;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}

.block{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
</style>
</head>
<body>
    <div class="wrapper">
        {% for x in range (0 ,times) %}
        <div class="block" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>